.NolanSlide {
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("./Img/1.jpg");
	background-attachment: fixed;
	background-position: top;
	padding: 0.1px;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.NolanSlide h1 {
	color: white;
	letter-spacing: 1em;
}

@media (max-width: 768px) {
	.NolanSlide h1 {
		letter-spacing: 20px;
		font-size: 20px;
	}
}

@media (max-width: 480px) {
	.NolanSlide {
		background-size: cover;
		background-position: 65%;
		background-color: black;
	}
	.NolanSlide h1 {
		letter-spacing: 10px;
		font-size: 15px;
	}
}
