.lastMoviesDiv {
	padding: 0.1px;
	height: 100vh;
	display: flex;
	flex-direction: row;
}
.interstellarDiv {
	display: flex;
	align-items: center;
	background-color: black;
	width: 50%;
	height: 100%;
}
.interstellarPicDiv img {
	width: 90%;
}
.lastMovieLinkDiv {
	display: flex;
	align-items: center;
	width: 50%;
	height: 100%;
}

@media (max-width: 480px) {
	.interstellarDiv {
		display: none;
	}
	.lastMovieLinkDiv {
		width: 100%;
	}
}
