.lastMovieslink {
	text-align: center;
	font-size: 14px;
}
.lastMovieslink a {
	display: block;
	padding: 5px;
	border: 4px solid black;
	border-radius: 15px;
	color: white;
	background-color: RGB(71, 71, 71);
	text-decoration: none;
}
@media (max-width: 768px) {
	.lastMovieslink {
		font-size: 10px;
	}
	.lastMovieslink a {
		padding: 4px;
		border: 2px solid black;
	}
}
@media (max-width: 480px) {
	.lastMovieslink {
		font-size: 9px;
	}
}
