.aboutNolanDiv {
	padding: 0.1px;
	display: flex;
	flex-direction: row;
	height: 100vh;
}
.mementoDiv {
	background-color: black;
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
}
.mementoPicDiv img {
	width: 95%;
}
.LinkDiv {
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
}

@media (max-width: 480px) {
	.mementoDiv {
		display: none;
	}
	.LinkDiv {
		width: 100%;
	}
}
